.slider-container {
  margin: 0 auto;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  color: white;
}

.slick-track {
  width: 100% !important;
  height: 100% !important;
}
.slick-current {
  margin: 0 10px 10px 0;
  width: unset !important;
}
