@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  width: 10px;
  background-color: #cccccc;
}

svg {
  pointer-events: none;
}
